<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API SecretKey</key>
	<string>xAWUo0QesJujir5G0ceLMuM7t2fX5n7zNNukgjz4PPgYGByHW2</string>
	<key>API Key</key>
	<string>TuoAin5MQ0BiiQVQseoHMnOqR</string>
</dict>
</plist>
